In [68]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [69]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, BernoulliNB,MultinomialNB
from sklearn import metrics

In [70]:
headerList = ['No. Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DPF' ,'Age', 'Res']

In [71]:
df = pd.read_csv("pima-indians-diabetes.csv",skiprows=9)

In [72]:
# df.to_csv("new.csv",header=headerList,index=False)

In [73]:
# df = pd.read_csv("new.csv")

In [74]:
df.columns = headerList

In [75]:
df.head()

,No. Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DPF,Age,Res
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,0,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,0,0,25.6,0.201,30,0

In [76]:
cols = df.columns

In [77]:
cols

Index(['No. Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness',
       'Insulin', 'BMI', 'DPF', 'Age', 'Res'],
      dtype='object')

In [78]:
df.isnull().sum()

No. Pregnancies    0
Glucose            0
BloodPressure      0
SkinThickness      0
Insulin            0
BMI                0
DPF                0
Age                0
Res                0
dtype: int64

In [79]:
(df==0).sum()

No. Pregnancies    111
Glucose              5
BloodPressure       35
SkinThickness      227
Insulin            373
BMI                 11
DPF                  0
Age                  0
Res                500
dtype: int64

In [80]:
df.shape

(767, 9)

In [81]:
df[['No. Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DPF' ,'Age']].replace(0,np.NaN)

,No. Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DPF,Age
0,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31
1,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32
2,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21
3,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33
4,5.0,116.0,74.0,NaN,NaN,25.6,0.201,30
...,...,...,...,...,...,...,...,...
762,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63
763,2.0,122.0,70.0,27.0,NaN,36.8,0.340,27
764,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30
765,1.0,126.0,60.0,NaN,NaN,30.1,0.349,47
766,1.0,93.0,70.0,31.0,NaN,30.4,0.315,23

In [82]:
df.dropna()

,No. Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DPF,Age,Res
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,0,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,0,0,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
762,10,101,76,48,180,32.9,0.171,63,0
763,2,122,70,27,0,36.8,0.340,27,0
764,5,121,72,23,112,26.2,0.245,30,0
765,1,126,60,0,0,30.1,0.349,47,1
766,1,93,70,31,0,30.4,0.315,23,0

In [83]:
X = df[['No. Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DPF' ,'Age']]

In [84]:
y = df['Res']

In [85]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [86]:
model = GaussianNB()

In [87]:
model.fit(X_train,y_train)

GaussianNB()

In [88]:
model.score(X_test,y_test)

0.7229437229437229