In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

!pip install apyori
from apyori import apriori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [17]:
df = pd.read_csv("Order2.csv", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.shape

(7501, 20)

In [19]:
records=[]

for i in range (0, 7501):
  records.append([str(df.values[i, j]) for j in range (0, 20)])

In [26]:
association_rules = apriori(records, min_support=0.007, min_confidence=0.2, min_lift=3)
association_records = list(association_rules)

In [27]:
print(association_records[0])

RelationRecord(items=frozenset({'ground beef', 'herb & pepper'}), support=0.015997866951073192, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2919938411349285)])

In [28]:
for i in association_records:
  pair = i[0]
  item = [x for x in pair]

  print("Rule :"+item[0]+" -> "+item[1])
  print("Support: "+str(i[1]))
  print("Confidence: "+str(i[2][0][2]))
  print("Lift: "+str(i[2][0][3]))
  print("\n")

Rule :ground beef -> herb & pepper
Support: 0.015997866951073192
Confidence: 0.3234501347708895
Lift: 3.2919938411349285


Rule :whole wheat pasta -> olive oil
Support: 0.007998933475536596
Confidence: 0.2714932126696833
Lift: 4.122410097642296


Rule :ground beef -> frozen vegetables
Support: 0.008665511265164644
Confidence: 0.31100478468899523
Lift: 3.165328208890303


Rule :shrimp -> frozen vegetables
Support: 0.007199040127982935
Confidence: 0.30508474576271183
Lift: 3.200616332819722


Rule :ground beef -> nan
Support: 0.015997866951073192
Confidence: 0.3234501347708895
Lift: 3.2919938411349285


Rule :spaghetti -> milk
Support: 0.007199040127982935
Confidence: 0.20300751879699247
Lift: 3.0825089038385434


Rule :nan -> whole wheat pasta
Support: 0.007998933475536596
Confidence: 0.2714932126696833
Lift: 4.13077198425009


Rule :ground beef -> nan
Support: 0.008665511265164644
Confidence: 0.31100478468899523
Lift: 3.165328208890303


Rule :nan -> shrimp
Support: 0.007199040127982935
Confidence: 0.30508474576271183
Lift: 3.200616332819722


Rule :nan -> milk
Support: 0.007199040127982935
Confidence: 0.20300751879699247
Lift: 3.088761457396025