In [55]:
import numpy as np
import pandas as pd

!pip install apyori
from apyori import apriori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [56]:
df = pd.read_csv("Oder3.csv")
df

       TransactionNo          Items          DateTime    Daypart  DayType
0                  1          Bread   10/30/2016 9:58    Morning  Weekend
1                  2   Scandinavian  10/30/2016 10:05    Morning  Weekend
2                  2   Scandinavian  10/30/2016 10:05    Morning  Weekend
3                  3  Hot chocolate  10/30/2016 10:07    Morning  Weekend
4                  3            Jam  10/30/2016 10:07    Morning  Weekend
...              ...            ...               ...        ...      ...
20502           9682         Coffee    9/4/2017 14:32  Afternoon  Weekend
20503           9682            Tea    9/4/2017 14:32  Afternoon  Weekend
20504           9683         Coffee    9/4/2017 14:57  Afternoon  Weekend
20505           9683         Pastry    9/4/2017 14:57  Afternoon  Weekend
20506           9684      Smoothies    9/4/2017 15:04  Afternoon  Weekend

[20507 rows x 5 columns]

In [57]:
groups = df.groupby(by='TransactionNo')

In [58]:
records = groups.apply(lambda x: [x.iloc[i,1] for i in range(len(x))])
records

TransactionNo
1                                                 [Bread]
2                            [Scandinavian, Scandinavian]
3                           [Hot chocolate, Jam, Cookies]
4                                                [Muffin]
5                                 [Coffee, Pastry, Bread]
                              ...
9680                                              [Bread]
9681    [Truffles, Tea, Spanish Brunch, Christmas common]
9682                  [Muffin, Tacos/Fajita, Coffee, Tea]
9683                                     [Coffee, Pastry]
9684                                          [Smoothies]
Length: 9465, dtype: object

In [59]:
association_rules = apriori(records, min_support=0.002, min_confidence=0.03, min_lift=3)
association_results = list(association_rules)

In [60]:
print(association_results[0])

RelationRecord(items=frozenset({'Coke', 'Sandwich'}), support=0.005176967776016905, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Coke'}), items_add=frozenset({'Sandwich'}), confidence=0.266304347826087, lift=3.706721547314578), OrderedStatistic(items_base=frozenset({'Sandwich'}), items_add=frozenset({'Coke'}), confidence=0.07205882352941176, lift=3.7067215473145776)])

In [61]:
for i in association_results:
  pair = i[0]
  index = [x for x in pair]

  print("Rule: "+index[0]+" --> "+index[1])
  print("Support: "+str(i[1]))
  print("Confidence: "+str(i[2][0][2]))
  print("Lift: "+str(i[2][0][3]))
  print("\n")

Rule: Coke --> Sandwich
Support: 0.005176967776016905
Confidence: 0.266304347826087
Lift: 3.706721547314578


Rule: Jam --> Fudge
Support: 0.0025356576862123614
Confidence: 0.16901408450704225
Lift: 11.265621900416583


Rule: Jammie Dodgers --> Juice
Support: 0.0021130480718436345
Confidence: 0.16
Lift: 4.149041095890412


Rule: Spanish Brunch --> Juice
Support: 0.002746962493396725
Confidence: 0.07123287671232878
Lift: 3.919878942338325


Rule: Mineral water --> Sandwich
Support: 0.0032752245113576335
Confidence: 0.23134328358208955
Lift: 3.2200943810359965


Rule: Coffee --> Coke
Support: 0.002007395668251453
Confidence: 0.3114754098360656
Lift: 4.33546287367406


Rule: Juice --> Cookies
Support: 0.0036978341257263604
Confidence: 0.06796116504854369
Lift: 3.298730395817774


Rule: Juice --> Spanish Brunch
Support: 0.002007395668251453
Confidence: 0.052054794520547946
Lift: 4.783481845990158


Rule: Soup --> Coffee
Support: 0.0035921817221341787
Confidence: 0.05
Lift: 3.1550000000000002


Rule: Truffles --> Coffee
Support: 0.0021130480718436345
Confidence: 0.28169014084507044
Lift: 3.9208782104391053