In [220]:
#import libraries

In [221]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [222]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn import metrics

In [223]:
#import dataset

In [224]:
df = pd.read_csv("madfhantr.csv")

In [225]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [226]:
#data preprocessing

In [227]:
cols = df.columns
cols

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [228]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [229]:
df.dropna(inplace=True)

In [230]:
df.shape

(480, 13)

In [231]:
var_mod = ['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']

In [232]:
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i].astype(str))

In [233]:
df.dtypes

Loan_ID                int64
Gender                 int64
Married                int64
Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
dtype: object

In [234]:
X = df[['Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area']]
y = df[["Loan_Status"]]

In [235]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=20)

In [236]:
X_train

,Married,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
289,0,0,0,9508,0.000000,187.0,360.0,1.0,0
152,0,0,0,9166,0.000000,244.0,360.0,1.0,2
357,1,1,0,3875,0.000000,67.0,360.0,1.0,2
536,1,0,0,6133,3906.000000,324.0,360.0,1.0,2
450,1,2,0,2309,1255.000000,125.0,360.0,0.0,0
...,...,...,...,...,...,...,...,...,...
527,1,1,0,5285,1430.000000,161.0,360.0,0.0,1
282,1,2,0,2301,985.799988,78.0,180.0,1.0,2
351,0,0,0,8750,4167.000000,308.0,360.0,1.0,0
608,1,0,0,3232,1950.000000,108.0,360.0,1.0,0
455,1,2,0,3859,0.000000,96.0,360.0,1.0,1

In [237]:
model = DecisionTreeClassifier().fit(X_train,y_train)
model.score(X_test,y_test)

0.71875